# Local MongoDB example
MONGODB_URI=mongodb+srv://akshayjai19001900_db_user:jpi82WhvtfPVoqEd@cluster0.s7s2ndj.mongodb.net/

# MongoDB Atlas example
# MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@CLUSTER.mongodb.net/client_tracker?retryWrites=true&w=majority

# Render provides PORT automatically
PORT=3000